<!-- <h3>therir are eight lifecycle methods which are nothing but</h3>

<ol>
    <li>ngOnChanges</li>
    <li>ngOnInit</li>
    <li>ngDoCheck</li>
    

    <li>ngAfterContentInit</li>
    <li>ngAfterContentChecked</li>
    <li>ngAfterViewInit</li>
    <li>ngAfterViewChecked</li>

    <li>ngDestroy</li>
</ol> -->

<div>
    this is the parent component
</div>

<div>
    <app-practice>
   <div  class="vinu">this is the vinayak dattatray  kolekar</div>
   <div class="vinu2">this is the vinayak dattatray  kolekar</div>
   <div class="vinu3">this is the vina</div>
 

    </app-practice>
</div>